{% extends "header.html" %} {% block contenido %}

<div class="formulario">
  <div>
    <strong>Nombre:</strong> {{ cli.nombre }}
    <span id="nombre-cliente"></span>
  </div>
  <div>
    <strong>Teléfono: </strong> {{ cli.telefono }}
    <span id="telefono-cliente"></span>
  </div>
  <div>
    <strong>Dirección: </strong> {{ cli.direccion }}
    <span id="direccion-cliente"></span>
  </div>
  <button class="nav" type="submit">
    <a href="{% url 'listados' %}">Volver</a>
  </button>
</div>

{% endblock %}
