{% extends "index.html" %} {% block contenido %}

<div class="formulario">
  <div>
    <strong>Nombre:</strong> {{ pro.nombre }}
    <span id="nombre-proyecto"></span>
  </div>
  <div>
    <strong>Descripción: </strong> {{ pro.descripcion }}
    <span id="descripcion-proyecto"></span>
  </div>
  <div>
    <strong>Fecha de Inicio: </strong> {{ pro.fecha_inicio }}
    <span id="fecha-inicio"></span>
  </div>
  <div>
    <strong>Fecha de Fin: </strong> {{ pro.fecha_fin }}
    <span id="fecha-fin"></span>
  </div>
  <div>
    <strong>Presupuesto: </strong> {{ pro.presupuesto }}€
    <span id="presupuesto"></span>
  </div>
  <div>
    <strong>Cliente: </strong> {{ pro.cliente }}
    <span id="cliente"></span>
  </div>
  <div>
    <strong>Tareas asociadas: </strong>
    {% for tarea in tareas %}
    {{ tarea.nombre }} - Prioridad( {{ tarea.nivel_prioridad }} ) 
    {% empty %}
    <p>No hay tareas para este proyecto.</p>
    {% endfor %}
  </div>
  <button class="buttonCrear" type="submit">
    <a href="{% url 'listados' %}">Volver</a>
  </button>
</div>

{% endblock %}
