{% extends "header.html" %}

{% block contenido %} 

<div class="formulario">
  <div>
    <strong>Nombre:</strong> {{ tar.Nombre }}
    <span id="nombre-tarea"></span>
  </div>
  <div>
    <strong>Descripción: </strong> {{ tar.Descripcion }}
    <span id="descripcion-tarea"></span>
  </div>
  <div>
    <strong>Fecha de Inicio: </strong> {{ tar.Fecha_Inicio }}
    <span id="fecha-inicio"></span>
  </div>
  <div>
    <strong>Fecha de Fin: </strong> {{ tar.Fecha_Fin }}
    <span id="fecha-fin"></span>
  </div>
  <div>
    <strong>Nivel de Prioridad: </strong> {{ tar.Nivel_Prioridad }}
    <span id="nivel_prioridad-tarea"></span>
  </div>
  <div>
    <strong>Estado de la Tarea: </strong> {{ tar.Estado_Tarea }}
    <span id="estado-tarea"></span>
  </div>
  <div>
    <strong>Notas: </strong> {{ tar.Notas }}
    <span id="notas-tarea"></span>
  </div>
  <button class="nav" type="submit"><a href="{% url 'listados' %}">Volver</a></button>
</div>

{% endblock %}