{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deustronic Components S.L</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="contenedor">
      <div class="header0">
        <h1 class="tituloIndex">Gestión de Proyectos - Deustotil Tech S.L.</h1>
      </div>
    </nav>
    <div>
      <a href="{% url 'listados' %}">Listado</a>
    </div>
    <div>
      <a href="{% url 'enviarCorreo' %}">Recibir Información</a>
    </div>
    <h1>Bienvenido a [Nombre de tu Empresa]</h1>
    <button id="expand-button">Expandir información</button>
    <div id="info-block">
        <p>Aquí está la información adicional sobre nuestra empresa...</p>
    </div>
    <h2>{{ titulo_pagina }}</h2>

    {% block contenido %} {% endblock %}

    <script src="{% static 'js/expandirInfo.js' %}"></script>
  </body>
</html>
