{% extends "index.html" %} {% block contenido %}
<h3 class="detallesProyecto">Listado Proyectos</h3>
<div class="formulario">
  <table>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for pro in lista_proyectos %}
    <tr>
      <th>{{ pro.id }}</th>
      <th>{{ pro.nombre }}</th>
      <th>
        <button class="btnDet" type="submit">
          <a href="{% url 'detProyecto' pro.id %}">Ver</a>
        </button>
        <button class="btnDetJS" type="button" data-proyecto-id="{{ pro.id }}">Ver (JS)</button>
        <div id="proyecto-{{ pro.id }}-info" class="proyecto-info"></div>
      </th>
      <th>
        <button class="btnModificar" type="submit">
          <a href="{% url 'modificarProyecto' pro.id %}">Modificar</a>
        </button>
      </th>
      <th>
        <button class="borrar" type="submit">
          <a href="{% url 'borrarProyecto' pro.id %}">Borrar</a>
        </button>
      </th>
    </tr>
    {% endfor %}
  </table>
</div>

<h3 class="detallesTarea">Listado Tareas</h3>
<div class="formulario">
  <table>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for tar in lista_tareas %}
    <tr>
      <th>{{ tar.id }}</th>
      <th>{{ tar.nombre }}</th>
      <th>
        <button class="btnDet" type="submit">
          <a href="{% url 'detTarea' tar.id %}">Ver</a>
        </button>
      </th>
      <th>
        <button class="btnModificar" type="submit">
          <a href="{% url 'modificarTarea' tar.id %}">Modificar</a>
        </button>
      </th>
      <th>
        <button class="btnBorrar" type="submit">
          <a href="{% url 'borrarTarea' tar.id %}">Borrar</a>
        </button>
      </th>
    </tr>
    {% endfor %}
  </table>
</div>

<h3 class="detallesEmpleado">Listado Empleados</h3>
<div class="formulario">
  <table>
    <tr>
      <th>DNI</th>
      <th>Nombre</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for emp in lista_empleados %}
    <tr>
      <th>{{ emp.dni }}</th>
      <th>{{ emp.nombre }}</th>
      <th>
        <button class="btnDet" type="submit">
          <a href="{% url 'detEmpleado' emp.id %}">Ver</a>
        </button>
      </th>
      <th>
        <button class="btnModificar" type="submit">
          <a href="{% url 'modificarEmpleado' emp.id %}">Modificar</a>
        </button>
      </th>
      <th>
        <button class="btnBorrar" type="submit">
          <a href="{% url 'borrarEmpleado' emp.id %}">Borrar</a>
        </button>
      </th>
    </tr>
    {% endfor %}
  </table>
</div>

<h3 class="detallesCliente">Listado Clientes</h3>
<div class="formulario">
  <table>
    <tr>
      <th>Nombre</th>
      <th>Teléfono</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for cli in lista_clientes %}
    <tr>
      <th>{{ cli.nombre }}</th>
      <th>{{ cli.telefono }}</th>
      <th>
        <button class="btnDet" type="submit">
          <a href="{% url 'detCliente' cli.id %}">Ver</a>
        </button>
      </th>
      <th>
        <button class="btnModificar" type="submit">
          <a href="{% url 'modificarCliente' cli.id %}">Modificar</a>
        </button>
      </th>
      <th>
        <button class="btnBorrar" type="submit">
          <a href="{% url 'borrarCliente' cli.id %}">Borrar</a>
        </button>
      </th>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
