{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deustronic Components S.L</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <h1>Gestión de Proyectos - Deustotil Tech S.L.</h1>
    <nav>
      <a href="{% url 'listarProyectos' %}">Listar Proyecto</a>
    </nav>
    <h2>{{ titulo_pagina }}</h2>

    {% block contenido %} {% endblock %}
    
  </body>
</html>