{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deustronic Components S.L</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
  </head>
  <body>
    
    <nav class="contenedor">
      <div class="header">
          <div class="logo"></div>
          <h1 class="tituloIndex">Gestión de Proyectos - Deustotil Tech S.L.</h1>
          <nav>
              <ul>
                  <li><a href="{% url 'listados' %}">Listar Proyecto</a></li>
                  <li><a href="{% url 'modificarProyectos' %}">Modificar Proyecto</a></li>
                  <li><a href="{% url 'crearTareas' %}">Crear Tarea</a></li>
    </nav>
    <h2>{{ titulo_pagina }}</h2>

    {% block contenido %} {% endblock %}

  </body>
</html>