{% extends "header.html" %}

{% block contenido %} 
<div class="contenedor">
  <div class="header">
      <button class="nav"><a href="{% url 'crearProyecto' %}">Crear Proyecto</a></button>
      <button class="nav"><a href="{% url 'crearTareas' %}">Crear Tarea</a></button>
  </div>
</div>
{% for pro in lista_proyectos %}

<h3 class="detallesProyecto">Detalles del Proyecto</h3>
<div class="formulario">
  <div>
    <strong>Nombre del Proyecto:</strong> {{ pro.Nombre }}
    <span id="nombre-proyecto"></span>
  </div>
  <div>
    <strong>Descripción: </strong> {{ pro.Descripcion }}
    <span id="descripcion-proyecto"></span>
  </div>
  <div>
    <strong>Fecha de Inicio: </strong> {{ pro.Fecha_Inicio }}
    <span id="fecha-inicio"></span>
  </div>
  <div>
    <strong>Fecha de Fin: </strong> {{ pro.Fecha_Fin }}
    <span id="fecha-fin"></span>
  </div>
  <div>
    <strong>Presupuesto: </strong> {{ pro.Presupuesto }}
    <span id="presupuesto"></span>
  </div>
  <button class="nav" type="submit"><a href="{% url 'modificarProyecto' pro.id %}">Modificar</a></button>
  <button class="nav" type="submit"><a href="{% url 'borrarProyecto' pro.id %}">Borrar</a></button>
  
</div>
{% endfor %}

{% for tar in lista_tareas %}

<h3 class="detallesTarea">Detalles de la Tarea</h3>
<div class="formulario">
  <div>
    <strong>Nombre de la Tarea:</strong> {{ tar.Nombre }}
    <span id="nombre-tarea"></span>
  </div>
  <div>
    <strong>Descripción: </strong> {{ tar.Descripcion }}
    <span id="descripcion-tarea"></span>
  </div>
  <div>
    <strong>Fecha de Inicio: </strong> {{ tar.Fecha_Inicio }}
    <span id="fecha-inicio"></span>
  </div>
  <div>
    <strong>Fecha de Fin: </strong> {{ tar.Fecha_Fin }}
    <span id="fecha-fin"></span>
  </div>
  <div>
    <strong>Nivel de Prioridad: </strong> {{ tar.Nivel_Prioridad }}
    <span id="nivel_prioridad-tarea"></span>
  </div>
  <div>
    <strong>Estado de la Tarea: </strong> {{ tar.Estado_Tarea }}
    <span id="estado-tarea"></span>
  </div>
  <div>
    <strong>Notas: </strong> {{ tar.Notas }}
    <span id="notas-tarea"></span>
  </div>
  <button class="nav" type="submit"><a href="{% url 'modificarTarea' tar.id %}">Modificar</a></button>
  <button class="nav" type="submit"><a href="{% url 'borrarTarea' tar.id %}">Borrar</a></button>
</div>
{% endfor %}

{% for emp in lista_empleados %}

<h3 class="detallesEmpleado">Detalles del Empleado</h3>
<div class="formulario">
  <div>
    <strong>Nombre:</strong> {{ emp.nombre }}
    <span id="nombre-empleado"></span>
  </div>
  <div>
    <strong>Apellido: </strong> {{ emp.apellido }}
    <span id="apellido-empleado"></span>
  </div>
  <div>
    <strong>DNI: </strong> {{ emp.dni }}
    <span id="dni-empleado"></span>
  </div>
  <div>
    <strong>Teléfono: </strong> {{ emp.telefono }}
    <span id="telefono-empleado"></span>
  </div>
  <div>
    <strong>Email: </strong> {{ emp.email }}
    <span id="email-empleado"></span>
  </div>
  <button class="nav" type="submit"><a href="{% url 'modificarEmpleado' emp.id %}">Modificar</a></button>
  <button class="nav" type="submit"><a href="{% url 'borrarEmpleado' emp.id %}">Borrar</a></button>
</div>
{% endfor %}

{% for cli in lista_clientes %}

<h3 class="detallesCliente">Detalles del Cliente</h3>
<div class="formulario">
  <div>
    <strong>Nombre:</strong> {{ cli.Nombre }}
    <span id="nombre-cliente"></span>
  </div>
  <div>
    <strong>Teléfono: </strong> {{ cli.Telefono }}
    <span id="telefono-cliente"></span>
  </div>
  <div>
    <strong>Dirección: </strong> {{ cli.Direccion }}
    <span id="direccion-cliente"></span>
  </div>
  <button class="nav" type="submit"><a href="{% url 'modificarCliente' cli.id %}">Modificar</a></button>
  <button class="nav" type="submit"><a href="{% url 'borrarCliente' cli.id %}">Borrar</a></button>
</div>
{% endfor %}

{% endblock %}
