{% extends "header.html" %}

{% block contenido %} 

{% for pro in lista_proyectos %}
<h3 class="detallesProyecto">Detalle del Proyecto</h3>
<div>
  <div>
    <strong>Nombre del Proyecto:</strong> {{ pro.Nombre }}
    <span id="nombre-proyecto"></span>
  </div>
  <div>
    <strong>Descripción: </strong> {{ pro.Descripcion }}
    <span id="descripcion-proyecto"></span>
  </div>
  <div>
    <strong>Fecha de Inicio: </strong> {{ pro.Fecha_Inicio }}
    <span id="fecha-inicio"></span>
  </div>
  <div>
    <strong>Fecha de Fin: </strong> {{ pro.Fecha_Fin }}
    <span id="fecha-fin"></span>
  </div>
  <div>
    <strong>Presupuesto: </strong> {{ pro.Presupuesto }}
    <span id="presupuesto"></span>
  </div>
  <div>
    <strong>Nombre del Cliente:</strong>
    <span id="nombre-cliente"></span>
  </div>
  <div>
    <strong>Email del Cliente:</strong>
    <span id="email-cliente"></span>
  </div>
  <div>
    <strong>Teléfono del Cliente:</strong>
    <span id="telefono-cliente"></span>
  </div>
</div>
{% endfor %}

{% endblock %}