{% extends "header.html" %}

{% block contenido %} 

<!-- Formulario -->
<form class="formulario" action="{% url 'modificarProyecto' proyecto.pk %}" method="post">
  {% csrf_token %}
    <div>
        <label>Nombre del Proyecto:</label>
        <input type="text"name="NombreProyectoMod" required/>
    </div>
    <div>
        <label>Descripción:</label>
        <textarea name="DescripcionProyectoMod" rows="4" required></textarea>
    </div>
    <div>
        <label>Fecha de Inicio:</label>
        <input type="date" name="FechaInicioMod" required />
    </div>
    <div>
        <label>Fecha de Fin:</label>
        <input type="date" name="FechaFinMod" required />
    </div>
    <div>
        <label>Presupuesto:</label>
        <input type="number" name="PresupuestoMod" required />
    </div>
    <input type="submit" value="Guardar cambios">
</form>

{% endblock %}