:root {
  --primary-color: #c7a17a;
  --background-color: #f9f5f0;
  --dark-color: #151515;
  --accent-color: #efa162;
  --form-background: #5cb85c; /* Verde complementario */
  --form-hover: #4cae4c;
  --btn-green: #28a745; /* Verde */
  --btn-green-hover: #218838; /* Verde oscuro */
  --btn-blue: #17a2b8; /* Azul */
  --btn-blue-hover: #138496; /* Azul oscuro */
  --btn-yellow: #ffc107; /* Amarillo */
  --btn-yellow-hover: #e0a800; /* Amarillo oscuro */
  --btn-red: #dc3545; /* Rojo */
  --btn-red-hover: #c82333; /* Rojo oscuro */;
}

body,
html {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 82.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  line-height: 1.6;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  text-align: center;
  margin-bottom: 20px;
}


h1,
h2 {
  background-color: #fff;
  border-top: 1px solid var(--dark-color);
}

h2 {
  font-size: 24px;
}

h3 {
  color: var(--accent-color);
  background-color: var(--dark-color);
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

button {
  padding: 8px 12px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

#id_fecha_inicio,
#id_fecha_fin {
  width: 100%;
  height: 30px;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tituloIndex {
  color: var(--primary-color);
  margin-bottom: 80px;
  background-color: white;
  border-top: 3px solid white;
  font-size: 4rem;
}

.header,
.header0 {
  text-align: center;
  padding: 10px;
}

.header0 {
  text-align: left;
}

.header0 img {
  max-height: 90px;
}

.section {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.contenedor {
  width: 100%;
  background-color: var(--background-color);
}

.logo {
  position: fixed;
  z-index: 1000;
}

.logo img {
  width: 100px;
  height: auto;
}

.nav {
  background-color: var(--background-color);
  padding: 10px;
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.nav a {
  color: var(--primary-color);
  font-weight: bold;
}

.nav a:hover {
  color: var(--dark-color);
}

.formulario,
.detallesProyecto,
.detallesTarea,
.detallesEmpleado,
.detallesCliente {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid var(--dark-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  width: 80%;
  text-align: center;
  color: white;
  font-size: 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.formulario div,
.detallesProyecto div,
.detallesTarea div,
.detallesEmpleado div,
.detallesCliente div {
  margin-bottom: 10px;
}

.formulario label {
  display: block;
  margin-bottom: 5px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"],
.formulario input[type="number"],
.formulario textarea,
.formulario select {
  width: 100%;
  padding: 8px;
  margin: 6px 0 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: var(--form-background);
  color: white;
  padding: 1rem 2rem;
  border-radius: 2px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--form-hover);
}

button[type="submit"] a {
  color: white;
  cursor: pointer;
}

.btnDet {
  background-color: green;
  font-size: 20px;  /*CAMBIAR LETRA BOTONES*/
}

.btnModificar {
  background-color: yellow;
  font-size: 20px; /*CAMBIAR LETRA BOTONES*/
}

.btnBorrar, .borrar {
  background-color: red;
  font-size: 20px; /*CAMBIAR LETRA BOTONES*/
}


.detallesProyecto h3,
.detallesTarea h3,
.detallesEmpleado h3,
.detallesCliente h3 {
  color: var(--accent-color);
  background-color: var(--dark-color);
}

.detallesProyecto strong,
.detallesTarea strong,
.detallesEmpleado strong,
.detallesCliente strong {
  font-weight: bold;
}

.detallesProyecto span,
.detallesTarea span,
.detallesEmpleado span,
.detallesCliente span {
  margin-left: 10px;
  color: #666;
}

.detallesProyectoindex {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #fff;
  background-color: var(--accent-color);
  border-radius: 5px;
  width: 80%;
  text-align: center;
  color: white;
  font-size: 2rem;
}

#info-block {
  display: none;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--white);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


nav.contenedor {
  padding: 20px;
  text-align: center;
}

.header0 .tituloIndex {
  color: var(--white);
  font-size: 2.5rem;
  margin: 0;
}

button#expand-button {
  display: block;
  background-color: var(--button-bg);
  color: var(--white);
  border: none;
  padding: 10px 30px;
  margin: 20px auto;
  font-size: 0,8rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button#expand-button:hover {
  background-color: var(--button-hover-bg);
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}


#info-block p {
  margin-bottom: 15px;
  line-height: 1.6;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.btnDet:hover {
  background-color: var(--btn-green-hover);
}

.btnDetJS {
  background-color: var(--btn-blue);
  color: white;
}

.btnDetJS:hover {
  background-color: var(--btn-blue-hover);
}

.btnModificar:hover {
  background-color: var(--btn-yellow-hover);
}

.btnBorrar:hover, .borrar:hover {
  background-color: var(--btn-red-hover);
}

.navSesion{
  background-color: var(--background-color);
  padding: 10px;
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.navSesion a {
  color: rgb(193, 8, 8);
  font-weight: bold;
}

.navSesion a:hover {
  color: var(--dark-color);
}



.contenedor-login {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 850px;
  text-align: center;
  margin-top: 40PX;
  font-size: 14px;
}

.tituloLogin {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333333;
}

.error-login {
  background: #ffdddd;
  color: #d8000c;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.formulariologin {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formulariologin input[type="text"],
.formulariologin input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.formulariologin button {
  padding: 10px;
  background: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.formulariologin button:hover {
  background: #0056b3;
}

.btnReg {
  margin-top: 20px;
}

.btnReg a {
  display: block;
  padding: 10px;
  background: #28a745;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.btnReg a:hover {
  background: #218838;
}

.btnReg a:visited {
  color: #ffffff;
}

.centrado{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header1 {
  text-align: center;
  padding: 10px;
}

.header1 {
  text-align: left;
}

.header1 {
  color: var(--white);
  font-size: 2.5rem;
  margin: 0;
}
.header1 {
  color: #ffffff;
}
-------------------------------
.bodyRegistro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.tituloRegistro{
  background-color: var(--background-color);
}

.contenedor3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: var(--background-color);
}

.tituloRegistro {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333333;
  background-color: white;
}

.formularioregistro {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: white;
  width: 100%;
  max-width: 600px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formularioregistro input[type="text"],
.formularioregistro input[type="password"],
.formularioregistro input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.formularioregistro button {
  padding: 10px;
  background: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.formularioregistro button:hover {
  background: #218838;
}






.buttonCrear {
  font-size: 14px;  /* Tamaño de la fuente más grande */
  padding: 10px 15px;  /* Relleno más grande */
  border-radius: 5px;  /* Bordes más redondeados */
  cursor: pointer;  /* Cambiar el cursor al pasar sobre el botón */
  border: none;  /* Quitar el borde predeterminado */
  display: inline-flex;  /* Para asegurar que el contenido del botón esté centrado */
  align-items: center;  /* Centrar verticalmente */
  justify-content: center;  /* Centrar horizontalmente */
}

.buttonCrear a {
  color: inherit;  /* Heredar el color del botón */
  text-decoration: none;  /* Quitar el subrayado del enlace */
  display: block;  /* Hacer que el enlace ocupe todo el botón */
  width: 100%;
  height: 100%;
  text-align: center;  /* Centrar el texto */
  padding: 7px 11px;  /* Asegurar que el enlace tenga el mismo padding */
}

.buttonCrear p {
  color: inherit;  /* Heredar el color del botón */
  text-decoration: none;  /* Quitar el subrayado del enlace */
  display: block;  /* Hacer que el enlace ocupe todo el botón */
  width: 100%;
  height: 100%;
  text-align: center;  /* Centrar el texto */
  padding: 7px 11px;  /* Asegurar que el enlace tenga el mismo padding */
}

.buttonCrear[type="submit"] {
  background-color: #28a745;  /* Color de fondo del botón 'Añadir nota' */
}