:root {
  --primary-color: #c7a17a;
  --background-color: #f9f5f0;
  --dark-color: #151515;
  --accent-color: #efa162;
  --form-background: #5cb85c; /* Verde complementario */
  --form-hover: #4cae4c;
  --btn-blue: rgb(0, 162, 255);
  --btn-yellow: rgb(226, 226, 84);
  --btn-red: rgb(241, 64, 64);
}

body,
html {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  text-align: center;
  margin-bottom: 20px;
}

h1,
h2 {
  background-color: #fff;
  border-top: 1px solid var(--dark-color);
}

h2 {
  font-size: 24px;
}

h3 {
  color: var(--accent-color);
  background-color: var(--dark-color);
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
  border: none;
}

#id_fecha_inicio,
#id_fecha_fin {
  width: 100%;
  height: 30px;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tituloIndex {
  color: var(--primary-color);
  margin-bottom: 80px;
  background-color: white;
  border-top: 3px solid white;
  font-size: 4rem;
}

.header,
.header0 {
  text-align: center;
  padding: 10px;
}

.header0 {
  text-align: left;
}

.header0 img {
  max-height: 90px;
}

.section {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.contenedor {
  width: 100%;
  background-color: var(--background-color);
}

.logo {
  position: fixed;
  z-index: 1000;
}

.logo img {
  width: 100px;
  height: auto;
}

.nav {
  background-color: var(--background-color);
  padding: 10px;
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.nav a {
  color: var(--primary-color);
  font-weight: bold;
}

.nav a:hover {
  color: var(--dark-color);
}

.formulario,
.detallesProyecto,
.detallesTarea,
.detallesEmpleado,
.detallesCliente {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid var(--dark-color);
  background-color: var(--primary-color);
  border-radius: 5px;
  width: 80%;
  text-align: center;
  color: white;
  font-size: 2rem;
}

.formulario div,
.detallesProyecto div,
.detallesTarea div,
.detallesEmpleado div,
.detallesCliente div {
  margin-bottom: 10px;
}

.formulario label {
  display: block;
  margin-bottom: 5px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"],
.formulario input[type="number"],
.formulario textarea,
.formulario select {
  width: 100%;
  padding: 8px;
  margin: 6px 0 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: var(--form-background);
  color: white;
  padding: 1rem 2rem;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--form-hover);
}

button[type="submit"] a {
  color: white;
  cursor: pointer;
}

.btnDet {
  background-color: var(--btn-blue);
}

.btnModificar {
  background-color: var(--btn-yellow);
}

.btnBorrar {
  background-color: var(--btn-red);
}

.detallesProyecto h3,
.detallesTarea h3,
.detallesEmpleado h3,
.detallesCliente h3 {
  color: var(--accent-color);
  background-color: var(--dark-color);
}

.detallesProyecto strong,
.detallesTarea strong,
.detallesEmpleado strong,
.detallesCliente strong {
  font-weight: bold;
}

.detallesProyecto span,
.detallesTarea span,
.detallesEmpleado span,
.detallesCliente span {
  margin-left: 10px;
  color: #666;
}

.detallesProyectoindex {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #fff;
  background-color: var(--accent-color);
  border-radius: 5px;
  width: 80%;
  text-align: center;
  color: white;
  font-size: 2rem;
}
