/*Globales*/
@font-face {
  font-family: Poppins-Regular;
  src: url('fuentes/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('fuentes/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('fuentes/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('fuentes/poppins/Poppins-SemiBold.ttf'); 
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}
*{
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", sans-serif;
}

h1, h2 {
  text-align: center;
  background-color:rgb(255, 255, 255);
  border-top: 1px solid black;
}

a {
  text-decoration: none;
}

.tituloIndex {
  color: #efa162;
  margin-bottom: 80px;
  text-align: center;
  background-color: white;
  border-top: 3px solid white;
  font-size: 40px;
  margin: 0; 
}

.header {
  text-align: center;
  padding: 10px;
}

.header0{
  text-align: left;
  padding: 10px;
}

.header0 img{
  max-height: 90px;
}

.section {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.contenedor {
  width: 100%;
  background-color: #f2f2f2;
}

.logo {
  position: fixed;
  z-index: 1000;
}

.logo img {
  width: 100px;
  height: auto;
}

.nav a {
  text-decoration: none;
  color: #efa162;
  font-weight: bold;
}

.nav a:hover {
  color: #efa162;
}

.nav {
  background-color: #f2f2f2;
  padding: 10px;
  display: inline-block;
  margin-right: 20px;
  color: #efa162;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.formulario {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #000000;
  background-color: #efa162;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  color: white;
  font-size: 20px;
}

.formulario div {
  margin-bottom: 10px;
}

.formulario label {
  display: block;
  margin-bottom: 5px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"],
.formulario input[type="number"],
.formulario textarea,
.formulario select {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 16px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formulario button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formulario button[type="submit"]:hover {
  background-color: #45a049;
  cursor: pointer;
}

button[type="submit"] a {
  color: white;
  cursor: pointer;
}

.btnDet {
  background-color: rgb(0, 162, 255);
  cursor: pointer;
}

.btnModificar {
  background-color: rgb(226, 226, 84);
  cursor: pointer;
}

.btnBorrar {
  background-color: rgb(241, 64, 64);
  cursor: pointer;
}

/*Proyecto*/

.detallesProyecto {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #000000;
  background-color: #efa162;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  color: white;
  font-size: 30px;
}

.detallesProyecto h3 {
  color: #efa162; 
  background-color: rgb(2, 2, 2) ;
}

.detallesProyecto div {
  margin-bottom: 10px;
}

.detallesProyecto strong {
  font-weight: bold;
}

.detallesProyecto span {
  margin-left: 10px;
  color: #666;
}

.detallesProyectoindex {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ffffff;
  background-color: #efa162;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  color: white;
  font-size: 20px;
}

.submitProyecto[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.detallesProyecto button[type="submit"]:hover {
  background-color: #45a049;
} 

/*Tarea*/

.detallesTarea {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #000000;
  background-color: #efa162;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  color: white;
  font-size: 30px;
}

.detallesTarea h3 {
  color: #efa162; 
  background-color: rgb(2, 2, 2) ;
}

.detallesTarea div {
  margin-bottom: 10px;
}

.detallesTarea strong {
  font-weight: bold;
}

.detallesTarea span {
  margin-left: 10px;
  color: #666;
}

/*Empleado*/

.detallesEmpleado {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #000000;
  background-color: #efa162;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  color: white;
  font-size: 30px;
}

.detallesEmpleado h3 {
  color: #efa162; 
  background-color: rgb(2, 2, 2) ;
}

.detallesEmpleado div {
  margin-bottom: 10px;
}

.detallesEmpleado strong {
  font-weight: bold;
}

.detallesEmpleado span {
  margin-left: 10px;
  color: #666;
}

/*Cliente*/

.detallesCliente {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #000000;
  background-color: #efa162;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  color: white;
  font-size: 30px;
}

.detallesCliente h3 {
  color: #efa162; 
  background-color: rgb(2, 2, 2) ;
}

.detallesCliente div {
  margin-bottom: 10px;
}

.detallesCliente strong {
  font-weight: bold;
}

.detallesCliente span {
  margin-left: 10px;
  color: #666;
}