html {
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

h1, h2 {
    text-align: center;
    background-color:rgb(255, 255, 255);
    border-top: 1px solid black;
}

nav {
    background-color: #eb8634;
    padding: 10px;
}

section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}